/* This is your CSS file */
/* Comments look like this. */

/* This ruleset defines the styling for the entire body of your HTML document. */
body {
    /* Change this background-color. */
    background-color: aquamarine;
}

/* This defines styling for all your p elements */

h1, h2 {
    color: #551A8B;
    font-style: italic;
}

li {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
}
ol {
    color:darkgreen;
    opacity:0.2;
} 
ul {
    text-shadow: 2px 3px 4px rgba(226, 24, 149, 0.5);
    font-variant: small-caps;
}
p {
    color:rgb(131, 13, 13);
    text-shadow: 5px 6px 7px rgba(255,165,0,0.5);
}

header {
    color: crimson;
    font-size:x-small;
}
footer{
    color:lightsalmon;
    font-size:small;
}
button{
    background-color: fuchsia;
    outline: #551A8B;
}
img{
    border: 5px solid;
    opacity:0.7;
}